{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <h3  class="text-center">Черновое произведение</h3>

         <div class="form-group">
            <label class="form-label">Название</label>
            {% if artwork.name %}
                <input placeholder="Введите название" disabled type="text" class="form-control" style="width: 250px" value="{{ artwork.name }}">
            {% else %}
                <input placeholder="Введите название" disabled type="text" class="form-control" style="width: 250px">
            {% endif %}
        </div>

             <div class="form-group">
            <label class="form-label">Дата</label>
            {% if artwork.date %}
                <input placeholder="Введите дату" disabled type="text" class="form-control" style="width: 250px" value="{{ artwork.date }}">
            {% else %}
                <input placeholder="Введите дату" disabled type="text" class="form-control" style="width: 250px">
            {% endif %}
        </div>

        <form method="post" action="{% url 'delete_artwork' artwork.id %}">
            {% csrf_token %}
                <button class="btn btn-danger delete-draft-artwork-btn" type="submit">
                    Удалить
                </button>
            </a>
        </form>

        <h4 class="text-center">Артефакты</h4>

        <div class="cards-wrapper d-flex flex-column">

            {% for person in artwork.get_persons %}

                {% include "person_card.html" %}

            {% endfor %}

        </div>

    </main>
{% endblock content %}