{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row d-flex justify-content-between">
            <div class="col md-8">
                <form class="search-bar" action="/" method="GET">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Поиск артефактов" name="artifact_name" value="{{ artifact_name }}">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary w-100">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col md-4 justify-end">
                <a href="/artworks/{{ draft_artwork.id }}/" class="w-25">
                    <button type="submit" class="bin btn btn-primary position-relative w-100">
                        Корзина
                        <div class="badge position-absolute badge rounded-pill">
                            {{ artifacts_count }}
                        </div>
                    </button>
                </a>
            </div>
        </div>
        <div class="cards-wrapper">
            {% for artifact in artifacts %}
                {% include "artifact_card.html" %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}

